<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BO_Zombies.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BO_Zombies.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <BO_Zombies.My.MySettings>
            <setting name="reg_Registered_Email" serializeAs="String">
                <value>NoEmail@Nothing.co.uk</value>
            </setting>
            <setting name="set_ShowAccumulative" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="set_SamsGame_Display" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sve_HexSave_Home" serializeAs="String">
                <value />
            </setting>
            <setting name="reg_Registered_Name" serializeAs="String">
                <value>Some Guys Name</value>
            </setting>
            <setting name="FTP_Active" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MacAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="reg_Registered_Password" serializeAs="String">
                <value>000000000000</value>
            </setting>
        </BO_Zombies.My.MySettings>
    </userSettings>
    <applicationSettings>
        <BO_Zombies.My.MySettings>
            <setting name="reg_Registered" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FTP_Req_URL" serializeAs="String">
                <value>ftp://ftp.example.co.uk/uploads</value>
            </setting>
            <setting name="FTP_Email" serializeAs="String">
                <value>exampleftp@example.co.uk</value>
            </setting>
            <setting name="FTP_Passw" serializeAs="String">
                <value>000000000000</value>
            </setting>
            <setting name="APPLICATION_DEBUG" serializeAs="String">
                <value>True</value>
            </setting>
        </BO_Zombies.My.MySettings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>
